<html><head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1250">
<style><!-- 
  body, P, LI { background-position: top left; background-repeat: repeat-y; background-color: "#FFFFFD"; margin-left: 4em; margin-top: 0em; margin-bottom: 0em; color: "#427D64"; font-size: 12pt; font-weight: normal; font-family: "Arial"; } 
  .moz-signature { color: gray; }
  .moz-signature a { color: #7777FF; }
  blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
--></style> 
</head>
<BODY background="Ivy.gif">
&nbsp;
</body> </html> 