<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <style type="text/css">
  body { padding-left: 120px;  background-repeat: repeat-y; text-align: justify; font-family: serif; font-size: 20px; color: #1b3c6f; }
  p:first-letter { font-size: 150%; color: #6d4375;  }
  .moz-signature { color: gray; }
  .moz-signature a { color: #7777FF; }
  blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
  </style>
</head>
<body background="unicorn.jpg">
<p>
<br>
</p>
-- <br>
<div class="moz-signature">
<b>John Smith</b><br>
Business Analyst / Programmer<br>
Delta Sky, Inc.<br>
212-907-1650<br>
<a class="moz-txt-link-abbreviated" href="mailto:JohnSmith@DeltaSky.com">JohnSmith@DeltaSky.com</a><br>
</div><br>
</body>
</html>
