<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    .moz-signature { #008800; }
    blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
    a, a:link { color: #008800; } 
    a:visited { color: #005500; } 
    a:hover { color: #00FF00; } 
    b { font-weight: normal; color: #00ff00}
  </style>
  </head>

<body background="fallout_bck1.gif" bgcolor="#aaaaaa">
<center>
<table border="0" cellpadding="0" cellspacing="0" width="639">
<tr>
  <td><img src="fallout_frame_tl.gif" width="253" height="43"></td>
  <td><img src="fallout_frame_t.gif" width="356" height="43"></td>
  <td><img src="fallout_frame_tr.gif" width="30" height="43"></td>
</tr>
<tr>
  <td><img src="fallout_frame_l.gif" width="253" height="413"></td>
  <td>
  <div style="font-size: 12px; padding-left: 3px; overflow: auto; background-color: black; color: #00aa00; font-family: monospace; height: 413px; scrollbar-base-color:#00ff00; scrollbar-track-color:black; scrollbar-highlight-color: black; scrollbar-shadow-color: black; scrollbar-arrow-color: black; scrollbar-3dlight-color: black; scrollbar-darkshadow-color: black;">
    test content<br>xxxxxxx<b>xxxxxxxxx</b>xxxxxxxx<br>xxxxxxxx<i>xxxxxxxx</i>xxxx<br>xxxxxxxxxxxxxxxxxxxxxxx<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
    <span class="moz-signature">
    -- <br>
    John Smith<br>
    <a href="mailto:JohnSmith@DeltaSky.com">JohnSmith@DeltaSky.com</a></span>  </div>
  </td>
  <td><img src="fallout_frame_r.gif" width="30" height="413" ></td>
</tr>
<tr>
  <td><img src="fallout_frame_bl.gif" width="253" height="24"></td>
  <td><img src="fallout_frame_b.gif" width="356" height="24"></td>
  <td><img src="fallout_frame_br.gif" width="30" height="24"></td>
</tr>
</center>
</table></body></html>