<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    body { padding: 10px; font-size: 15pt; color: #000066; }
    p:first-letter { text-transform: uppercase; }
    p { text-indent: 1.5em; }
  </style>
  <style type="text/css">
    .moz-signature { color: gray; }
    .moz-signature a { color: #7777FF; }
    blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
  </style>
  </head>

<body background="NiebieskieKafelki.jpg" bgcolor="#ffffff" text="#000000">
Hello<br>
<br>Best regards<br><br>
<span class="moz-signature">
-- <br>
John Smith<br>
<a href="mailto:JohnSmith@DeltaSky.com">JohnSmith@DeltaSky.com</a><br>
<br>
<b>Delta Sky</b><br>
<em>Your reliable partner</em><br>
Business Analyst / Programmer<br>
Delta Sky, Inc.<br>
212-907-1650<br>
<a href="http://DeltaSky.com">DeltaSky.com</a>
</span>
<br>
<hr>
</body></html>