<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    body { padding: 10px; font-size: 15pt; color: #000066; }
    p:first-letter { text-transform: uppercase; }
    p { text-indent: 1.5em; }
  </style>
  <style type="text/css">
    .moz-signature { color: gray; }
    .moz-signature a { color: #7777FF; }
    blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
  </style>
  </head>

<body background="NiebieskieKafelki.jpg" bgcolor="#ffffff" text="#000000">
Hallo<br>
<br>Best regards<br><br>
<span class="moz-signature">
-- <br>
Łukasz Płomiński<br>
<a href="mailto:lplominski@pgs-soft.com">lplominski@pgs-soft.com</a><br>
<br>
<img style="margin-left: 0.5em; margin-top: -0.5em;" alt="" src="pgs.signature.jpg" height="72" width="129"><span style="visibility: hidden;">PGS Software</span><br>
<em>Your reliable partner in Poland</em><br>
ul. Klecinska 125<br>
54-413 Wroclaw, Poland<br>
Tel:  +48 71 7982692<br>
Fax:  +48 71 7982690<br>
<a href="http://www.pgs-soft.com">www.pgs-soft.com</a>
</span>
<br>
<hr>
</body></html>