<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  body { padding: 10px; background-repeat: no-repeat; background-attachment: fixed; background-position: center; }
  p:first-letter { text-transform: uppercase; }
  p { text-indent: 1.5em; }
</style>
<style type="text/css">
  .moz-signature { color: gray; }
  .moz-signature a { color: #7777FF; }
  blockquote { border-left: 2px solid rgb(0, 0, 0); padding-right: 0px; padding-left: 5px; margin-left: 5px; margin-right: 0px; }
</style>
</head>

<body background="pgs.background.jpg" bgcolor="#ffffff" text="#000000">
Hallo<br>
<br>
<span id="_AthCaret"></span>
<br>
Best regards<br><br>

<span class="moz-signature">
-- <br>
Łukasz Płomiński<br>
<a href="mailto:lplominski@pgs-soft.com">lplominski@pgs-soft.com</a><br>
<img style="margin: 12px;" alt="" src="pgs.signature.jpg"><br>
<b><big>PGS Software</big> <small title="Spółka Akcyjna">SA</small></b><br>
<em>Your reliable partner in Poland</em><br>
ul. Klecinska 125, 54-413 Wroclaw, Poland<br>
<a href="http://www.pgs-soft.com">www.pgs-soft.com</a><br>
</span>
<br>
<hr>
</body></html>