<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  .moz-signature { color: gray; }
  .moz-signature a { color: #7777FF; }
  blockquote { border-left: 2px solid rgb(0, 0, 0); padding-right: 0px; padding-left: 5px; margin-left: 5px; margin-right: 0px; }
</style>
</head>
<body>
<h3>Hi</h3>
<!-- initial cursor placement -->
<span id="_AthCaret">cursor</span>
<br>
<br>
Best regards
<br>
<!-- signature placeholder begin, styled and pre-filled to look faliliar in WYSIWYG editor -->
<span class="moz-signature"   stationery="signature-placeholder">
-- <br>My signature goes here<br>lorem ipsum dolor sit amet,consectetuer adipiscing elit.</span>
<!-- signature placeholder end -->

<br>
<br>

<!--content placeholder begin, styled and pre-filled to look familiar in WYSIWYG editor -->
<span stationery="content-placeholder">
somebody@somewhere write:
<blockquote type="cite">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut ullamcorper urna eget orci. In enim arcu, facilisis nec, viverra
at, cursus nec, arcu. Integer interdum egestas mauris. Nullam ac erat quis massa laoreet molestie. Mauris sit amet felis in 
dui congue laoreet. Suspendisse metus. Nam mauris pede, ornare vel, malesuada eu, imperdiet vel, sem. Nam placerat justo et 
tortor. Nulla egestas. Sed sed neque ut pede euismod faucibus. Vestibulum sit amet purus.
</blockquote></span>
<!-- content placeholder end -->


</body></html>