<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body { padding-left: 100px; background-position: 20px 0px; background-repeat: repeat-y; text-align: justify; font-family: serif; font-size: 18px; }
</style>
</head>
  
<body background="Pow%F3j.jpg">
<br>
pozdrawiam<br>

<span stationery="signature-placeholder" style="color: gray;">
-- <br>My signature goes here<br>lorem ipsum dolor sit amet,consectetuer adipiscing elit.</span>


<br>
<br>

<span stationery="content-placeholder">
somebody@somewhere write:
<blockquote style="margin: 0px; padding: 0em .5em .5em 1em !important; border-right: 2px  solid blue !important; border-left: 2px solid blue !important;">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut ullamcorper urna eget orci. In enim arcu, facilisis nec, viverra at, cursus nec, arcu. Integer interdum egestas mauris. Nullam ac erat quis massa laoreet molestie. Mauris sit amet felis in dui congue laoreet. Suspendisse metus. Nam mauris pede, ornare vel, malesuada eu, imperdiet vel, sem. Nam placerat justo et tortor. Nulla egestas. Sed sed neque ut pede euismod faucibus. Vestibulum sit amet purus.
</blockquote></span>


</body></html>