<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    .moz-signature { color: gray; }
    .moz-signature a { color: #7777FF; }
    blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
  </style>
  </head>

<body bgcolor="#aaaaaa" text="#3e76a4">
<table border="0" cellpadding="0" cellspacing="0" 
style="border: 1px solid #cccccc; margin: auto; padding: 4px; background-color: white; height: 450px;">
<tr><td style="vertical-align: bottom;">
  <img src="southpole.stamp2.gif" style="float: right">
  <div style="font-size: 120%; padding: 25px; text-align: justify;">Greeting</div>
</td></tr>
<tr><td style="padding: 15px; width: 628px; text-align: justify;">
...mail text here...
</td></tr>
<tr><td style="padding: 0px 25px 0px 25px;">
<span class="moz-signature">
-- <br>
Łukasz Płomiński<br>
<a href="mailto:lplominski@pgs-soft.com">lplominski@pgs-soft.com</a></span>
</td></tr>
<tr><td height="1"><img src="southpole.foot.jpg" alt=""></td></tr>
</table></body></html>