<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<head>
  <style>
  body { padding-left: 120px;  background-repeat: repeat-y; text-align: justify; font-family: serif; font-size: 20px; color: #1b3c6f; }
  p:first-letter { font-size: 150%; color: #6d4375;  }
  </style>
</head>
<body
 background="unicorn.jpg">
<p>
<br>
</p>
<br><br>best ragards<br><br>
<div class="moz-signature">-- <br>
John Smith
</div>
</body>
</html>
