<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    body { font-family: "Times new Roman", serif; color:ButtonText; background-color: ButtonFace; }
    .moz-signature { color: gray; }
    .moz-signature a { color: #7777FF; }
    blockquote { padding: 0em .5em .5em 1em; border-left: 2px solid black; margin-left: 0px; }
    p { text-indent: 1em; }
    p:first-letter { font-size: 125%; }
    h1, h2, h3, h4, h5, h6  { text-indent: 2em; }
  </style>
  </head>

<body bgcolor="#eeeeee" text="black">
<table border="0" cellpadding="0" cellspacing="0" style="border: 1px solid ThreeDShadow; margin: auto; padding: 4px; background-color: Window; color: WindowText; height: 350px;">
<tr><td height="1" align="center"><img src="wroclaw1.optimized.JPG" alt=""></td></tr>
<tr><td style="padding: 15px; width: 1px;">
<h3>Hi</h3>
<p>...mail text here...
</td></tr>
<tr><td style="padding: 10px 25px 25px 25px; height: 1px;">
<span class="moz-signature">
-- <br>
Łukasz Płomiński<br>
<a href="mailto:lplominski@pgs-soft.com">lplominski@pgs-soft.com</a></span>
</td></tr>
</table></body></html>