<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Eumel-Mail</title>
  <style type="text/css">
    body { padding-left: 10px; background-attachment: fixed; background-repeat: repeat; font-size: 11pt; color: black; font-family: Arial; background-color: #fdf8e5; }
    img { border: 0px; }
    #img_top { margin: 10px 0px 20px 158px; }
    #img_bottom { margin: 34px 0px 0px 47px; display: block; }
    a:hover { opacity: 0.7; }
    div#content { text-align: justify;}
  </style>
</head>
<body background="sab_fond01.jpg">
<img id="img_top" src="sab_logo02.gif" border="0"><br>
       
  Hi.<br>
  <br>
  (enter message here)<br>
  <br>
  <span class="moz-signature">
  -- <br>
  Sarah</span><br>
<a id="img_bottom" href="mailto:sarahbesic@periskop.de"><img src="sab_zeile04.gif" border="0"></a>

<br>
</body>
</html>