/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: messenger.css
author: £ukasz 'Arivald' P³omiñski <arivald@interia.pl>
description:  CSS for messenger window, all platforms
******************************************************************************/


/* messenger menu for accessing options window */
#stationery-options {
  list-style-image: url("chrome://stationery/skin/menu_icon.png");
}

